.friendList {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.name {
  font-size: 24px;
  font-weight: bold;
}

.item {
  display: flex;
  align-items: center;

  width: 400px;
  background: #4e4e4e;
  padding: 20px;
  border-radius: 8px;
  gap: 30px;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;

  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.item:hover {
  transform: scale(1.05) translateY(-5px);

  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

.status {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: grey;
}

.online {
  background-color: rgb(0, 207, 0);
}

.offline {
  background-color: red;
}
