
.profile {
  width: 400px;
  /* height: 600px; */

  background: #efefef;
  border-radius: 8px;
}
.description {
  padding: 40px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  align-items: center;
}
.avatar {
  border-radius: 50%;
  width: 200px;
  height: 200px;

  background: rgb(184, 184, 184);
}
.name {
  color: black;
  font-size: 30px;
  font-weight: 400;
}
.tag {
  color: rgb(105, 105, 105);
  font-size: 20px;
  font-weight: 400;
}
.location {
  color: rgb(105, 105, 105);
  font-size: 24px;
  font-weight: 400;
}
.stats {
  background: #e1e5e8;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  /* border-top: 2px solid #a8a8a8; */

  display: flex;
}
.label {
  color: rgb(105, 105, 105);
  font-size: 20px;
  font-weight: 400;
}
.quantity {
  color: rgb(75, 75, 75);
  font-size: 24px;
  font-weight: 500;
}
.stats-li {
  padding: 34.9px;
  border: 1px solid #a8a8a8;
  border-top: 1.5px solid #a8a8a8;

  display: flex;
  flex-direction: column;
  gap: 10px;
}
.first {
  border-bottom-left-radius: 8px;
}
.last {
  border-bottom-right-radius: 8px;
}
